{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback[endsem]</title>
    <link rel="stylesheet" href="{% static 'form.css' %}">
    <!-- Favicon for browser tab -->
    <link rel="icon" href="{% static 'img/visual-studio-logo-24.png' %}" type="image/png">
  
    <!-- Alternative favicon formats for cross-browser support -->
    <link rel="shortcut icon" href="path/to/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'img/visual-studio-logo-24.png' %}">
</head>
<body>
    <div class="search-container">
        <h2>Scan the QR code <br> for our most valueable <br>Feedback</h2>
        <div class="box-img">
            <img src="{% static 'img/form.png' %}" alt="">
        </div>
    </div>
</body>
</html>
        
        