{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registeration</title>
    <link rel="stylesheet" href="{% static 'main2.css' %}">

    
    <!-- Favicon for browser tab -->
    <link rel="icon" href="{% static 'img/visual-studio-logo-24.png' %}" type="image/png">
  
    <!-- Alternative favicon formats for cross-browser support -->
    <link rel="shortcut icon" href="path/to/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'img/visual-studio-logo-24.png' %}">
</head>
<body>
    <form action="register" method="post">
        {% csrf_token %}
        <input type="text" name="first_name" placeholder="First Name"><br>
        <input type="text" name="last_name" placeholder="Last Name"><br>
        <input type="text" name="username" placeholder="Username"><br>
        <input type="email" name="email" placeholder="email"><br>
        <input type="password" name="password1" placeholder="Password"><br>
        <input type="password" name="password2" placeholder="Confirm Password"><br>
        <input type="submit">
    </form>

    <div>
        {% for message in messages %}
        <h3> {{message}} </h3>
        {% endfor %}
    </div>
</body>
</html>